
<h2 style="text-align:center">Banks</h2>
<div style="margin:auto; width: 70%; margin-top: 30px;">
    <app-search-bar (onSelectedOption)="onSelectedOption($event)"></app-search-bar>

</div>


<table class="tableClass">
  <tr>
    <th *ngFor = "let column of headers">
      {{column}}
    </th>
  </tr>
  <tr *ngFor = "let posts of post | paginate: { itemsPerPage: 10, currentPage: p }" class="group">
    <td *ngFor = "let column of headers" class="banks">
      {{posts[column]}}
    </td>
  </tr>
</table>

<pagination-controls (pageChange)="p = $event"></pagination-controls>